SPOTIFY_CLIENT_ID="your-spotify-client-id"
SPOTIFY_CLIENT_SECRET="your-spotify-client-secret"

LASTFM_API_KEY="lastfm-key"
LASTFM_SECRET_KEY="lastfm-secret"

DATABASE_URL="postgresql://your-db-user:your-password@your-neon-url/db-name"
BLOB_READ_WRITE_TOKEN="your-blob-key-here"

API_KEY="your-key-here"